<div class="four wide column">
    <h4 class="ui inverted header">{{ 'sylius.ui.your_store'|trans }}</h4>
    <div class="ui inverted link list">
        {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'about_us', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
        {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'imprint', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
        <a href="{{ path('setono_sylius_terms_show', {'slug' : setono_localized_terms_slug_for_code('terms_and_conditions')}) }}" class="item">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
        <a href="{{ path('setono_sylius_terms_show', {'slug' : setono_localized_terms_slug_for_code('privacy_policy')}) }}" class="item">{{ 'sylius.ui.privacy_policy'|trans }}</a>
    </div>
</div>
