{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="ui fluid inverted card z-depth-1">
    <a href="{{ path(search_result_url_param(result).path, search_result_url_param(result).params) }}" class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                </div>
            </div>
        </div>
        {% if result.image is not empty %}
            {% set path = result.image|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
        {% else %}
            {% set path = '//placehold.it/200x200' %}
        {% endif %}

        <img src="{{ path }}" alt="{{ result.attribute('name').value | join }}" class="ui bordered image" />
    </a>
    <div class="content">
        <a href="{{ path(search_result_url_param(result).path, search_result_url_param(result).params) }}" class="center aligned header sylius-product-name">{{ result.attribute('name').value | join }}</a>
        {% if result.price is not empty %}
            <div class="right aligned">
                {% set resultPriceByChannelAndCurrency = result.priceByChannelAndCurrency(channel.code, currencyCode) %}

                {% if result.originalPrice %}
                    {% set resultOriginalPriceByChannelAndCurrency = result.getOriginalPriceByChannelAndCurrency(channel.code, currencyCode) %}

                    {% if resultOriginalPriceByChannelAndCurrency.value > resultPriceByChannelAndCurrency.value %}
                        <span class="ui small red tag label header" id="product-original-price" {{ sylius_test_html_attribute('product-original-price') }}>
                            <del>{{ money.format(resultOriginalPriceByChannelAndCurrency.value, currencyCode) }}</del>
                        </span>
                    {% endif %}
                {% endif %}

                <div class="sylius-product-price ui tag label green" {{ sylius_test_html_attribute('product-price') }}>{{ money.format(resultPriceByChannelAndCurrency.value, currencyCode) }}</div>
            </div>
        {% endif %}
    </div>
</div>
